{% extends 'bases/master.html.twig' %}

{% block title %}
    {{ cart.name }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/cart.css') }}">
{% endblock %}

{% block contents %}
{% include('includes/layouts/header-contact.html.twig') %}
    <section class="cart">
        <div class="container-fluid">
            <div class="col-md-8">
                {% set total = 0 %}
                {% set counter = 0 %}
                {% for cart_product in user.client.CartProduct %}
                    {% if cart_product.cart.id == cart.id %}
                        {% set counter = counter + 1 %}
                        <div class="cart-item">
                    <div class="fl-left">
                        <img src="{{ asset('images/product.jpg') }}" width="100" alt="">
                    </div>
                    <div class="fl-left caption">
                        <h4>
                            {{ cart_product.product.name }}
                        </h4>

                        <h4>Unit Price : <span class="text-blue">
                            {% if cart_product.product.sale %}
                                {{ cart_product.product.sale.afterSale }}
                                {% else %}
                                {{ cart_product.product.price }}
                                {% endif %}
                                LE
                            </span></h4>
                        <h4>Quantity : <span class="text-blue">{{ cart_product.quantity }}</span></h4>
                        <h4>Sub Total : <span class="text-blue">{{ cart_product.getSubTotal }} LE</span></h4>
                        {% set total = total + cart_product.getSubTotal %}
                    </div>
                    <div class="clearfix"></div>
                    <div class="option text-right">
                        <button class="red-btn RemoveFromCart" data-id="{{ cart_product.id }}">Remove</button>
                    </div>
                </div>
                        {% endif %}
                    {% endfor %}
                {% if counter %}
                <button class="red-btn col-xs-12 EmptyCart" data-client="{{ user.client.id }}" data-cart="{{ cart.id }}">Empty Cart</button>
                {% endif %}
            </div>
            {% if cart.id == 1 and counter > 0 %}
            <div class="col-md-4">
                <div class="col-md-12 total">
                    Total:
                    <div class="amount">
                        {{ cart.total(1) }} LE
                    </div>
                </div>
                <button class="col-md-12 blue-btn">
                    Proceed To Checkout
                </button>
            </div>
            {% endif %}
            {% if counter == 0 %}
                <div class="col-xs-12">
                    <h1 class="text-center">Your Cart is Empty</h1>
                </div>
            {% endif %}
        </div>
</section>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('ajax/carts.js') }}"></script>

{% endblock %}