{% extends 'bases/master.html.twig' %}

{% block title %}
    Home Page
{% endblock %}

{% block styles %}
    <style>
        section.products
        {
            min-height: 500px;
        }
        .filter li
        {
            display: block;
        }
    </style>
{% endblock %}

{% block contents %}
    {% include('includes/forms/auth/signin.html.twig') %}
    {% include('includes/forms/auth/signup.html.twig') %}
    <header>
        {% include('includes/layouts/header-contact.html.twig') %}
        <section class="carts">
            <div class="container">
                <div class="fl-left">
                    <img width="150" src="images/logo.png" alt="">
                </div>
                <div class="fl-right carts">
                    <a href="/cart/1">
                    <div class="cart fl-left">
                        <div class="fl-left">
                            <i class="far fa-heart"></i>
                        </div>
                        <div class="caption fl-left">
                            <div class="title">
                                Wishlist
                            </div>
                            <div class="text-light">

                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="/cart/2">
                    <div class="cart fl-left">
                        <div class="fl-left" style="position: relative">
                            <i class="fas fa-shopping-bag" style="padding-top:2px"></i>
                            <span class="badge"></span>
                        </div>
                        <div class="caption fl-left">
                            <div class="title">
                                Cart
                            </div>
                            <div class="amount text-light">
                                85 LE
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </section>
        {% include('includes/layouts/header-nav.html.twig') %}
    </header>
    <section class="products">
        <div class="container">
            {% for product in products %}
            <div class="product col-md-3">
                <div class="category hidden">{{ product.category.id }}</div>
                <div class="header">
                    <div class="fl-left">
                        {% if product.sale %}
                        <span class="status status-sale">Sale</span>
                            {% endif %}
                    </div>
                    <div class="fl-right">
                        <i class=" pointer custom-hidden far fa-heart"></i>
                    </div>
                </div>
                <div class="image">
                    <img src="images/product.jpg" alt="">
                </div>
                <div class="caption text-center">
                    <h4>
                        {{ product.name }}
                    </h4>
                    <h4 class="text-blue">
                {% if product.sale %}
                    <span class="after-sale">{{ product.sale.afterSale }} LE</span>
                    <span class="before-sale text-light">{{ product.price }} LE</span>
                {% else %}
                    {{ product.price }} LE
                        {% endif %}
                    </h4>
                </div>
                <button data-product="{{ product.id }}" class="blue-btn AddToCart custom-hidden col-xs-12">
                    Add To Cart
                </button>
            </div>
            {% endfor %}
        </div>
    </section>
    {% include('includes/layouts/loading.html.twig') %}
{% endblock %}

{% block scripts %}
    <script src="ajax/carts.js"></script>
    <script>
        $(".filter li").click(function(){
            waiting();
            var category = $(this).data('id');
            $(".products .product .category").each(function(){
                if ($(this).text().search(new RegExp(category, "i")) < 0) {
                    $(this).parent().delay(500).hide(1);
                } else {
                    $(this).parent().delay(500).show(1);
                }
            });
            finish()
        });
    </script>
{% endblock %}