{% extends 'bases/dashboard.html.twig' %}

{% block title %}
    Sales
{% endblock %}

{% block dashboard_style %}
    <style>
        #sale-result
        {
            display: none;
        }
    </style>
{% endblock %}

{% block tab_contents %}
    {% include('includes/forms/sales/add.html.twig') %}
    {% include('includes/forms/sales/delete.html.twig') %}
    <button class="blue-btn AddButton" data-popup="add-sale">+</button>
    <div class="table-container">
        <div class="col-md-12"> <!-- search client -->
            <div class="col-md-12 filter" id="List-Filter"></div>
        </div>
        <table id="List-table" class="list-view text-center">
            <thead> <!-- main row -->
            <tr>
                <th>Product</th>
                <th>Before Sale</th>
                <th>Sale Value</th>
                <th>After Sale</th>
                <th>Options</th>
            </tr>
            </thead> <!-- main row -->
            <tbody>
            {% for sale in sales %}
                <tr>
                    <td>{{ sale.product.name }}</td>
                    <td>{{ sale.product.price }}</td>
                    <td>{{ (sale.value) }}</td>
                    <td>{{ (sale.value) }}</td>
                    <td>
                        <i class="fa fa-times white delete-sale" data-id="{{ sale.id }}" data-popup="delete-sale"></i>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <div class="text-center pagination">

            </div>
        </div>
    </div>
{% endblock %}

{% block dashboard_scripts %}
    <script src="ajax/sales.js"></script>
{% endblock %}