<nav>
    <div class="container">
        <div class="fl-left">
            {% if page == "index" %}
                <li class="dropdown categories">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bars"></i> &nbsp; Categories
                    </a>
                    <ul class="dropdown-menu filter">
                        <li data-id="all"><a href="#">All</a></li>
                        {% for category in categories %}
                            <li data-id="{{ category.id }}"><a href="#">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                    <img width="150" src="images/logo.png" alt="">
            {% endif %}

        </div>
        <ul class="fl-right">
            {% if user %}
                <li class="dropdown user-info">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ user.firstname }} {{ user.lastname }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if(user.role == "admin") %}
                        <li><a href="{{ path('dashboard') }}">My Account</a></li>
                        {% endif %}
                        <li><a href="{{ path('logout') }}">Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="text-blue pointer" data-popup="sign-up">Create Free Account</li>
            <li class="text-blue pointer" data-popup="sign-in">Sign in</li>
            {% endif %}
        </ul>
    </div>
</nav>
